<!-- About Section -->
    <section id="ceremony">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ceremony</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:00 pm</h4>
                                    <h4 class="subheading">Baraat (વરઘોડો)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Riding on a horse, the groom, and his procession marches their way towards the eagerly waiting bride and her family. A colorful show of music,dance, and crackers marks the grand beginning of this wedding day.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:30 pm</h4>
                                    <h4 class="subheading">Wedding Ceremony (હસ્ત મેળાપ)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Shower your love and blessings on the groom and the bride who come together to take their vows before the holy fire.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1:00 pm</h4>
                                    <h4 class="subheading">Lunch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Treat your taste buds to some delicious Indian cuisines.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3:00 pm</h4>
                                    <h4 class="subheading">Reception (રિસેપ્શન)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Greet the newlyweds with your love and blessings.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>4:00 pm</h4>
                                        <h4 class="subheading">Bidaai (વિદાઈ)</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Time for the bride to bid farewell to her family. An emotional moment filled with mixed feelings as she walks away from her family to be part of his prince's journey.</p>
                                    </div>
                                </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Celebration!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>