<!-- Our Story Section -->
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <p>Venue address here</p>
            </div>
            <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.8026793319223!2d72.85732101490046!3d19.028414687115188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf2f1c800dd3%3A0x1d816ca9fbb7a7fb!2sSNDT+Womens+College%2C+Rafi+Ahmed+Kidwai+Rd%2C+Antop+Hill%2C+Mumbai%2C+Maharashtra+400019%2C+India!5e0!3m2!1sen!2sjp!4v1543156306367" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>